body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1030px;
    margin: 0 auto;
}

.page-bg {
    background: url("../img/page-bg.jpg") no-repeat center;
    background-size: cover;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 22px;
}

.logo-link {
    text-decoration: none;
    display: flex;
}

.logo-img {
    padding-right: 10px;
}

.logo-link:hover .logo-img {
    content: url(../img/logoor.png);
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;
    color: white;
}

.holidays {
    margin-top: 3px;
    font-size: 18px;
    line-height: 14px;
}


.logo-link:hover .logo-text {
    color: #f26522;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.mail {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.mail:hover {
    color: #F26522;
}

.phone {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.phone:hover {
    color: #F26522;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-card-link {
    width: calc((100% / 3) - 60px); 
    flex-direction: column;
    text-decoration: none;
}

.tour-card-link:nth-child(-n+3) {
    margin-bottom: 37px;
}

.info-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.tour-img {
    width: 100%;
}

.tour-info {
    opacity: 0;
    width: 100%;
    position: absolute;
    background: #f26522;
    left: 0;
    bottom: 0;
    /* =============== */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

.price-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 7px auto 12px 16px;
}
.from {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: white;
    margin-bottom: 8px;
}

.price {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.details-box {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    margin-bottom: 12px;
    align-items: center;
}

.details {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    margin-right: 16px;
}

.details::after {
    content: '';
    position:absolute;
    margin-left: 16px;
    width: 100%;
    height: 100%;
    background: url(../img/row.svg) no-repeat;
}

.tour-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-top: 20px;
    text-align: center;
}

.tour-card-link:hover .tour-info {
    opacity: 100;
}

.tour-card-link:hover .tour-title {
    color: #f26522;
}

.footer {
    display: flex;
    justify-content: center;
}
.footer-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-top: 50px;
    margin-bottom: 15px;
}
