body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 1280px;
	background-color: #fff;
	margin: 0 auto;
}

.nav {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.nav > li > a {
	color: #ff0000;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 36px;
	margin-left: 36px;
	letter-spacing: 2.7px;
}

.header-item {
	text-decoration: none;
	color: #f00;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 25.5px;
	padding-bottom: 25.5px;
	padding-left: 72px;
	letter-spacing: 2.7px;
}

.img {
	width: 1280px;
}

.text-title {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 38px;
	color: #373737;
}

.text {
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #373737;
	margin: 67.5px;
	margin-top: 0px;
	margin-bottom: 28px;
}

.btn {
	border-radius: 4px;
	background: #ff0000;
	font-weight: bold;
	font-size: 12px;
	color: white;
	border: none;
	padding: 18px 43px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-top: 38px;
	margin-bottom: 0px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	cursor: pointer;
}

.footer-text {
	display: flex;
	justify-content: flex-end;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 2.4px;
	color: #373737;
	margin-right: 105px;
	margin-bottom: 30px;
	margin-top: 82px;
}
