body {
    background: url("../img/Background.jpg");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    margin: 18px auto 18px 79px;
}
.logo {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.logo:hover {
    color: #3CB878;
}

.header-nav {
    border-right: solid 1px gray;
}
.header-nav-link {
    text-decoration: none;
    margin-right: 27px;
}

.header-svg {
    display: inline-block;
    
}
.header-nav-link > svg:hover path {
    fill: #3CB878;
}

.enter {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: #FFFFFF;
    margin-right: 79px;
    margin-left: 27px;
}

.enter-link {
    text-decoration: none;
    color: white;
}

.enter-link:hover {
    color: #3CB878;
}

.main {
    height: calc(100vh - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-fild {
    width: 444px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.sign-in-sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 59px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.sign-in-sign-up > a:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-title::before {
    content: url(../img/shape.svg);
    margin-right: 43px;

}
.form-title {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign-in-sign-up > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.btn-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 324px;
}

.facebook-link {
    text-decoration: none;
}

.facebook {
    box-sizing: border-box;
    background: #305DB8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: calc((324px / 2) - 6px);
}

.facebook:hover {
    background: #022263;
}

.facebook > svg {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 17px;
    margin-right: auto;
}

.facebook-text {
    font-size: 16px;
    line-height: 16px;
    color: white;
    margin-right: 22px;
    padding-left: 18px;
    border-left: 1px solid #0A162F10;
}

.google-link {
    text-decoration: none;
}

.google {
    background: #DF4A32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: calc((324px / 2) - 6px);
    box-sizing: border-box;
}

.google:hover {
    background: #AB1F09;
}
.google > img {
    width: 30px;
    margin-top: 15px;
    margin-bottom: 14px;
    margin-left: 12px;
    margin-right: 7px;
}

.google-text {
    font-size: 16px;
    line-height: 16px;
    color: white;
    margin-right: 22px;
    padding-left: 30px;
    border-left: 1px solid #2B0D0910;
}

.or-container {
    display: flex;
    align-items: center;
    width: 324px;
    margin: 31px auto 14px
}

.line-or {
    background-color: #F2F2F2;
    flex-grow: 15;
    height: 1px
}

.or-text {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
    color: #848484;
}

.form-box {
    display: flex;
    flex-direction: column;
    width: 324px;
    margin: 0 auto 38px;
}

.form-item {
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
    padding-left: 20px;
    outline: 0;
    outline-offset: 0;
}

.form-item:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.termsandconditions {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.termsandconditions-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-left: 8px;
}

.termsandconditions-link {
    text-decoration: none;
    color: #3CB878;
}

.termsandconditions-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-btn {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    height: 46px;
    cursor: pointer;
    outline: 0;
    outline-offset: 0;
}

.form-btn:hover {
    background: #01813F;
}