.product-card {
  position: relative;
  width: 350px;
  border-radius: 8px;
  border: 1px solid orange;
  margin: 10px;
  background: white;
}

.product-card:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.product-card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.product-name {
  color: orange;
}

.product-article {
  color: grey;
  font-size: 14px;
}

.product-info {
  text-align: left;
}


.card-button {
  width: 80%;
  height: 30px;
  margin-bottom: 20px;
  border: orange;
  border-radius: 8px;
  background: white;
  box-shadow: 4px 4px 8px 0px orange;
  cursor: pointer;
  text-transform: uppercase;
}

.card-button:hover {
  box-shadow: 4px 4px 8px 0px orange;
  color: orange;
}

.favor-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}

.favor-icon:hover {
  fill: orange;
  cursor: pointer;
}

.del-icon {
  position: absolute;
  left: 100%;
  bottom: 101%;
  cursor: pointer;

}

.active {
  fill: orange;
}