.main-button {
    width: 250px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }

  .modal-btns {
      display: flex;
      justify-content: center;
  }