
 body {
    background: #000;
    color: #ffe919; 
    font-family: sans-serif;
}

.container {
    position: absolute;
    width: 900px;
    height: 100%;
    bottom: 0;
    left: 50%; margin-left: -9em;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    transform: perspective(200px) rotateX(30deg);
    transform-origin: 50% 90%;
    animation-direction: normal;
    overflow: hidden;
}
.center{
    text-align: center;
}
.title{
    font-size: 45px;
}
.text-box {
    position: absolute;
    top: 100%;
    animation: motion 60s 1s linear infinite;
 }
   
 @keyframes motion {
    0% { top: 100%; }
    
    100% { top: -100%;}
}
