body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}


.menu-line {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img-part {
    width: 27px;
    margin: 22px 27px;
}

.logo-text-part {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: auto 17px;
}

.nav-link:hover {
    color: #14B9D5;
}

.search {
    background: #000;
}

.search-icon {
    margin: 27px 25px;
    width: 17px;
}

.header-info {
    background: url(../img/header-bg.jpeg) bottom/cover no-repeat;
    background-attachment: fixed;
    padding-top: 165px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-title {
    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: white;
}
.btns {
    display: flex;
    justify-content: center;
}
 
.subscribe-btn {
    background-color: #89CA62;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: white;
    padding: 16px 19px;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
}

.articles-btn {
    background-color: #14B9D5;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.popular-posts {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    
}

.section-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    margin: 40px auto;
}

.posts {
    height: 850px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}
.post {
    width: calc((100%/3) - 30px);
    background: white;
    /* filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1)); */
    margin-bottom: 30px;
}

.post-link {
    display: inline-block;
    text-decoration: none;
}

.post-img {
    width: 100%;
}

.post-title {
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.clients {
    background: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
}

.clients-box {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            "item1 item1 item1 item1"
            "item2 item2 item2 item2"
            "item3 item4 item5 item6";
    padding: 108px 0 108px;
    grid-row-gap: 87px;
    justify-content: center;
}

.client-text {
    text-transform: uppercase;
    color: white;
    grid-area: item1;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;

}

.line {
    background-color: #4BCAFF;
    width: 60px;
    height: 3px;
    grid-area: item2;
    border: none;
}

.img1 {
    grid-area: item3;
    justify-self: end;
}
.img2 {
    grid-area: item4;
    justify-self: end;
}
.img3 {
    grid-area: item5;
    justify-self: end;
}
.img4 {
    grid-area: item6;
    justify-self: end;
}

.top-rated {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "top-rated-title-box top-rated-title-box top-rated-title-box top-rated-title-box top-rated-title-box top-rated-title-box top-rated-title-box"
    "img-1 img-2 img-3 img-4 img-5 img-6 img-7"
}

#top-rated-title-box {
    grid-area: top-rated-title-box;
    align-items: center;
    display: flex;
}

#img-1 {
    grid-area: img-1;
    background-color: #b82929;
}

#img-2 {
    grid-area: img-2;
}

#img-3 {
    grid-area: img-3;
}

#img-4 {
    grid-area: img-4;
}

#img-5 {
    grid-area: img-5;
}

#img-6 {
    grid-area: img-6;
}

#img-7 {
    grid-area: img-7;
}

.top-rated-img {
    width: 100%;
}

.news {
    display: grid;
    grid-template-rows: repeat(5, 1fr );
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 70px;
    grid-template-areas:
    "title title title title"
    "news-1 news-1 news-1 news-2"
    "news-3 news-3 news-4 news-4"
    "news-5 news-5 news-6 news-6"
    "news-7 news-8 news-8 news-8";
}

#news-title-box {
    grid-area: title;
}

.bg {
    background: #F9F7F7;
}

#news-1 {
    grid-area: news-1;
    display: flex;
}

#news-2 {
    grid-area: news-2;
}

#news-3 {
    grid-area: news-3;
}

#news-4 {
    grid-area: news-4;
}

#news-5 {
    grid-area: news-5;
}

#news-6 {
    grid-area: news-6;
}

#news-7 {
    grid-area: news-7;
}

#news-8 {
    grid-area: news-8;
    display: flex;
}

#news-title-box {
    height: 100px;
}
.news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
    margin-right: 15px;
}

.news-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 3px;
    color: #5B6469;
    text-align: right;
    margin-right: 15px;
    margin-left: 10px;
}

.center-title {
    text-align: center;
    margin: 0;
}

footer {
    background-color: #000;
}

.footer-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "copiwrite footer-img-link"
}

#copywrite {
    grid-area: copywrite;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: white;
    margin: 30px 0 30px 0;
}

#footer-img-link {
    grid-area: footer-img-link;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-img-link {
    justify-content: end;
    align-items: center;
    align-content: center;
}
