.header {
  display: flex;
  justify-content: center;
}

.header-logo {
  margin: 30px;
  width: 100px;
  align-self: flex-start;
}

.head-bar{
  padding: 15px 0;
}
.head-bar a{
text-decoration: none;
text-transform: uppercase;
color: gray;
margin: 15px 15px;
}
.head-bar a.active{
  color: black;
}

