body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    margin: 60px 0 40px;
}

.logo-link {
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.logo-blue {
    color: #4BCAFF;
}

.top-nav {
    display: flex;
    background-color: #35444F;
    justify-content: center;
    align-items: center;
}

.menu-item {
    list-style: none;
    border-left: 1px solid #FFFFFF;
    padding: 20px 40px;
}

.menu-item:hover {
    background:#222F3A;
}
.menu-link {
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: white;
}

.main-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.left-menu {
    border: 1px solid #000000;
    width: 345px;
    height: auto;
}

.left-menu-item {
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    list-style: none;
}

.left-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 80px;
    color: black;
}

.left-menu-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.left-menu-link:hover {
    text-decoration: none;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: black;
}

.img-box {
    width: 885px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ramda-img {
    width: 320px;
    margin: 75px 0;
}

.ramda-img:hover {
    transition: 1s;
    transform: scale(1.2);
}
.main-text {
    width: 885px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;  
    color: #2C2C2C;
    padding-top: 35px;
}

.footer {
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    align-items: center;
}

.footer-menu-item {
    margin-right: 40px;
    list-style: none;
}

.footer-menu-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #0C1927;
}

.footer-menu-link:hover {
    text-decoration: underline;
    color: #4BCAFF;
}

.copiright {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin: 20px 40px;
}
